<h3 style="text-align:center">
    User Login
</h3>
  <div class="login" *ngIf ="!isSubmitted">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login(loginForm.value)">  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
        <input type="username" placeholder="Username" formControlName="username">
      </p>      
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>       
       <p>
        <input type="submit" value="Log in">
      </p>
    </form>
  </div>

  <div class="login" *ngIf ="isSubmitted">
    <h2 class="login-header">Enter OTP</h2>
    <form [formGroup]="otpForm" class="login-container" (ngSubmit)="submitOtp(otpForm.value)">  
      <p>
        <input type="number" placeholder="OTP" formControlName="otp">
      </p>       
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
  </div>

  
      
