<button (click)="logout()">
  Logout
</button>
<div class="container-fluid">
  <div class="row" [formGroup]="dynamicDataForm">
    <div class="card mb-3 mt-3" formArrayName="items"
      *ngFor="let item of dynamicDataForm.get('items')['controls'] | keyvalue; let i = index;">
      <div class="card-header">
        Icici
      </div>
      <div class="card-body" [formGroupName]="i">
        <div class="form-input">
          <label>Min slab</label>
          <input class="form-control" formControlName="slab_min">
        </div>
        <div class="form-input">
          <label>Max slab</label>
          <input class="form-control" formControlName="slab_max">
        </div>
        <div class="form-input">
          <label>Amount</label>
          <input class="form-control" formControlName="value">
        </div>
      </div>
    </div>
  </div>
</div>
